main {
    padding: 0 25%;
    color: rgb(50, 50, 50);
}


header ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0px;
}

header ul li {
    display: inline-block;
    margin: auto 15px 0;
    padding-bottom: 10px;
    color: gray;
}

header ul li:focus {
    border-bottom: 3px solid blue;
    color: blue;
}

